// index

.app {
  background-color: @background;
  min-height: 100vh;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: (@run_slower * 1.5) @now @fadein both image;
}

.background-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section {
  display: flex;
  position: relative;
}

.article {
  font-size: 20px;
  line-height: 30px;
  display: block;
  flex: 0 1 25em;
  margin: 15vw 15vw 0 15vw;
  h1 {
    font-size: 3em;
    line-height: 1;
    font-weight: 300;
    margin: 0 0 (@tile_xs / 2);
    margin-left: -0.08em;
    animation: @run_slower @run @fadein both snippet;
  }
  p {
    margin: 0 0 0.5em;
    animation: @run_slower (@run + @run_faster) @fadein both snippet;
  }
}

.storytime {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(fade(@black, 0) 75%, @black);
}

.storytime-wrapper {
  position: relative;
  width: 100%;
  margin: @tile 0;
}

.timeline {
  display: flex;
  align-items: center;
  animation: @run_slower @now @fadein backwards slip_in_b2t;
}

.flex-line {
  flex: 1;
  height: 2px;
  background: @gray_800;
}

.time {
  color: @gray_800;
  font: @code;
  margin: 0 @tile_xxs;
}

.storyline {
  //
}

.story {
  line-height: 1;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transform: rotate3d(0, 0, 1, -30deg);
}

.story-dash {
  width: @tile;
  height: 2px;
  margin-left: -2px;
  background: @gray_800;
}

.story-title {
  white-space: nowrap;
}

.story-link {
  padding: @tile_xxs @tile_xs;
  border: 2px solid @gray_800;
  border-radius: @tile;
  &:hover {
    border-color: white;
  }
}

.overlay-press {
  //
}

.press-item {
  margin-bottom: @tile_xxs;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.press-item-date {
  font: @code;
}

.press-item-title {
  //
}

.nth {
  .cascade(35);
  animation: @run @fadein both slip_in_b2t;
}

// .animate_overlay();
.animate_stories();
