html {
  min-height: 100%;
  min-height: 100vh;
  font-family: @baseFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @baseFontColor;
  font-weight: 300;
}
body {
  min-height: 100%;
  min-height: 100vh;
  margin: 0;
}
