@import 'common.scss';
@import 'base.scss';
@import 'media.scss';
@import 'components.scss';

html {
  color: $white;
  font: normal 16px/1.5 "Roboto",sans-serif;
  text-size-adjust: 100%;
  font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparentize($black, 1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow: hidden;
}

.link {
  color: $white;
  text-decoration: none;
  &:hover {
    color: $gray_200;
  }
}

.app {
  background-color: $background;
  min-height: 100vh;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../bkg.jpg');
  background-size: cover;
  background-position: center;
  animation: ($run_slower * 1.5) $now $fadein both image;
}

.section {
  display: flex;
}

.article {
  font-size: 20px;
  line-height: 30px;
  display: block;
  flex: 0 1 25em;
  margin: 15vw 15vw 0 15vw;
  .link {
    margin-left: -2px;
    padding: 0 2px;
    background-image: linear-gradient(to bottom, $focus, $focus);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: background $run_fast $fadein;
    &:hover {
      color: $white;
      background-size: 100% 100%;
      border-radius: $border_radius;
    }
    &:active {
      transition-duration: $now;
      background-image: linear-gradient(to bottom, transparentize($focus, 0.25), transparentize($focus, 0.25));
      border-radius: $border_radius;
    }
  }
  h1 {
    font-size: 3em;
    line-height: 1;
    font-weight: 300;
    margin: 0 0 .5rem;
    margin-left: -0.08em;
    animation: $run_slower $run $fadein both snippet;
  }
  p {
    margin: 0 0 .5em;
    animation: $run_slower ($run + $run_faster) $fadein both snippet;
  }
}

.storytime {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(rgba(0,0,0,0) 75%, rgba(0,0,0,1));
}

.storytime-wrapper {
  position: relative;
  width: 100%;
  margin: $tile 0;
}

.timeline {
  display: flex;
  align-items: center;
  animation: $run_slower $now $fadein backwards slip_in_b2t;
}

.flex-line {
  flex: 1;
  height: 2px;
  background: darken(white, 80%);
  background: $gray_800;
}

.time {
  color: $gray_800;
  font: $code;
  margin: 0 .25rem;
}

.storyline {
  //
}

.story {
  line-height: 1;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transform: rotate3d(0, 0, 1, -30deg);
}

.story-dash {
  width: $tile;
  height: 2px;
  margin-left: -2px;
  background: $gray_800;
}

.story-title {
  white-space: nowrap;
}

.story-link {
  padding: 0.25rem 1rem;
  border: 2px solid $gray_800;
  border-radius: $tile;
  &:hover {
    border-color: white;
  }
}

.overlay-active {
  overflow: hidden;
}

.overlay {
  color: $black;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: $tile 0;
  background: $white;
  overflow-y: scroll;
  > .content {
    &:only-of-type {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.overlay-brand {
  font-weight: 500;
  line-height: 1;
  position: fixed;
  top: 0;
  left: 0;
  padding: $padding;
}

.overlay-close {
  color: $black;
  font-size: ($tile / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: $tile_xs;
  width: $tile;
  height: $tile;
  cursor: pointer;
  &:not(:hover) {
    opacity: .21;
  }
  .icon {
    stroke-width: 3;
    stroke-linecap: round;
  }
}

.contact-overlay {
  //
}

@keyframes fade_in {
  0% { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slip_in_b2t {
  0% { opacity: 0; transform: translate(0, $tile); }
  to { opacity: 1; transform: translate(0); }
}

@keyframes image {
  0% { opacity: 0; transform: translate3d(0, 1%, 0); }
  to { opacity: 1; transform: none; }
}

@keyframes snippet {
  0% { opacity: 0; transform: translate3d(0, 10%, 0); }
  to { opacity: 1; transform: none; }
}

@include animate_stories;
