@keyframes fade-in {
  0% {
    opacity: 0;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
}

@keyframes grow-in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes tile-in-t2b {
  0% {
    opacity: 0;
    transform: translateY(calc(var(--tile) * -1));
  }

  100% {
    transform: translate(0);
  }
}

@keyframes tile-in-b2t {
  0% {
    opacity: 0;
    transform: translateY(var(--tile));
  }

  100% {
    transform: translate(0);
  }
}

@keyframes tile-in-l2r {
  0% {
    opacity: 0;
    transform: translate(calc(var(--tile) * -1));
  }

  100% {
    transform: translate(0);
  }
}

@keyframes tile-in-r2l {
  0% {
    opacity: 0;
    transform: translate(var(--tile));
  }

  100% {
    transform: translate(0);
  }
}

@keyframes tile-out-b2t {
  0% {
    transform: translate(0);
  }

  100% {
    opacity: 0;
    transform: translateY(calc(var(--tile) * -1));
  }
}

@keyframes shrink-x {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(0, 1);
  }
}

@keyframes shrink-y {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes card-thumb {
  50% {
    filter: brightness(3);
  }

  100% {
    opacity: 0;
    filter: brightness(3);
  }
}

@keyframes to-white {
  100% {
    color: var(--white);
  }
}

@keyframes curtain {
  100% {
    transform: scale(50);
  }
}

@keyframes curtain-header {
  100% {
    border-bottom-color: var(--border-color);
  }
}

@keyframes curtain-nav {
  100% {
    color: var(--font-color);
  }
}

/*
.example {
  --dur1: var(--run);
  --dur2: var(--run);
  --dur3: var(--run);
  --dur4: var(--run);
  --dur5: var(--run);
  --dur6: var(--run);
  --dur7: var(--run);
  --dur8: var(--run);
  --dur9: var(--run);

  --del1: 0;
  --del2: calc((var(--dur1) * 0.34) + var(--del1));
  --del3: calc((var(--dur2) * 0.21) + var(--del2));
  --del4: calc((var(--dur3) * 0.13) + var(--del3));
  --del5: calc((var(--dur4) * 0.08) + var(--del4));
  --del6: calc((var(--dur5) * 0.05) + var(--del5));
  --del7: calc((var(--dur6) * 0.03) + var(--del6));
  --del8: calc((var(--dur7) * 0.02) + var(--del7));
  --del9: calc((var(--dur8) * 0.01) + var(--del8));

  .example-1 {
    animation: var(--dur1) var(--fadein) var(--del1) backwards slip-in-b2t;
  }

  .example-2 {
    animation: var(--dur2) var(--fadein) var(--del2) backwards slip-in-b2t;
  }

  .example-3 {
    animation: var(--dur3) var(--fadein) var(--del3) backwards slip-in-b2t;
  }

  .example-4 {
    animation: var(--dur4) var(--fadein) var(--del4) backwards slip-in-b2t;
  }

  .example-5 {
    animation: var(--dur5) var(--fadein) var(--del5) backwards slip-in-b2t;
  }

  .example-6 {
    animation: var(--dur6) var(--fadein) var(--del6) backwards slip-in-b2t;
  }

  .example-7 {
    animation: var(--dur7) var(--fadein) var(--del7) backwards slip-in-b2t;
  }

  .example-8 {
    animation: var(--dur8) var(--fadein) var(--del8) backwards slip-in-b2t;
  }

  .example-9 {
    animation: var(--dur9) var(--fadein) var(--del9) backwards slip-in-b2t;
  }
}
*/

.card.active {
  --dur1: var(--run);
  --dur2: var(--run);
  --dur3: var(--run-slower);
  --dur4: var(--run-slow);
  --dur5: var(--run);
  --dur6: var(--run);
  --dur7: var(--run);
  --dur8: var(--run);
  --dur9: var(--run);

  --del1: 100ms;
  --del2: calc((var(--dur1) * 0.34) + var(--del1));
  --del3: calc((var(--dur2) * 0.34) + var(--del2));
  --del4: calc((var(--dur3) * 0.89) + var(--del3));
  --del5: calc((var(--dur4) * 0.08) + var(--del4));
  --del6: calc((var(--dur5) * 0.05) + var(--del5));
  --del7: calc((var(--dur6) * 0.03) + var(--del6));
  --del8: calc((var(--dur7) * 0.02) + var(--del7));
  --del9: calc((var(--dur8) * 0.01) + var(--del8));

  .card-title {
    animation: var(--dur1) var(--fadein) var(--del1) both tile-in-b2t;
  }

  .card-subtitle {
    animation: var(--dur2) var(--fadein) var(--del2) both tile-in-b2t;
  }

  .card-info {
    animation: var(--dur3) var(--fadein) var(--del3) both to-white;
  }

  .example-4 {
    animation: var(--dur4) var(--fadein) var(--del4) both to-white;
  }

  .example-5 {
    animation: slip-in-b2t var(--dur5) var(--fadein) var(--del5) backwards;
  }

  .example-6 {
    animation: slip-in-b2t var(--dur6) var(--fadein) var(--del6) backwards;
  }

  .example-7 {
    animation: slip-in-b2t var(--dur7) var(--fadein) var(--del7) backwards;
  }

  .example-8 {
    animation: slip-in-b2t var(--dur8) var(--fadein) var(--del8) backwards;
  }

  .example-9 {
    animation: slip-in-b2t var(--dur9) var(--fadein) var(--del9) backwards;
  }
}

.hero.active {
  --dur1: calc(var(--run) * 4);
  --dur2: var(--run-fast);
  --dur3: var(--run-fast);
  --dur4: var(--run-fast);
  --dur5: var(--run);
  --dur6: var(--run);
  --dur7: var(--run);
  --dur8: var(--run);
  --dur9: var(--run);

  --del1: 0ms;
  --del2: calc((var(--dur1) * 0) + var(--del1));
  --del3: calc((var(--dur2) * 0.55) + var(--del2));
  --del4: calc((var(--dur3) * 0.34) + var(--del3));
  --del5: calc((var(--dur4) * 0.55) + var(--del4));
  --del6: calc((var(--dur5) * 0.34) + var(--del5));
  --del7: calc((var(--dur6) * 0.21) + var(--del6));
  --del8: calc((var(--dur7) * 0.34) + var(--del7));
  --del9: calc((var(--dur8) * 0.21) + var(--del8));

  .curtain-block {
    animation: var(--dur1) var(--fadein) var(--del1) both curtain;
  }

  .hero-paragraph {
    animation: var(--dur2) var(--fadein) var(--del2) both tile-out-b2t;
  }

  .hero-name-last {
    animation: var(--dur3) var(--fadein) var(--del3) both tile-out-b2t;
  }

  .hero-name-first {
    animation: var(--dur4) var(--fadein) var(--del4) both tile-out-b2t;
  }

  .curtain .hero-paragraph {
    animation: var(--dur5) var(--fadein) var(--del5) backwards tile-in-t2b;
  }

  .curtain .hero-name-last {
    animation: var(--dur6) var(--fadein) var(--del6) backwards tile-in-t2b;
  }

  .curtain .hero-name-first {
    animation: var(--dur7) var(--fadein) var(--del7) backwards tile-in-t2b;
  }

  .header {
    animation: var(--dur8) var(--fadein) var(--del8) forwards curtain-header;
  }

  .header-item {
    animation: var(--dur9) var(--fadein) var(--del9) forwards curtain-nav;
  }
}
