@keyframes fade-in {
  0% {
    opacity: 0;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
}

@keyframes grow-in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes tile-in-t2b {
  0% {
    opacity: 0;
    transform: translateY(calc(var(--tile) * -1));
  }

  100% {
    transform: translate(0);
  }
}

@keyframes tile-in-b2t {
  0% {
    opacity: 0;
    transform: translateY(var(--tile));
  }

  100% {
    transform: translate(0);
  }
}

@keyframes tile-in-l2r {
  0% {
    opacity: 0;
    transform: translate(calc(var(--tile) * -1));
  }

  100% {
    transform: translate(0);
  }
}

@keyframes tile-in-r2l {
  0% {
    opacity: 0;
    transform: translate(var(--tile));
  }

  100% {
    transform: translate(0);
  }
}

@keyframes tile-out-b2t {
  0% {
    transform: translate(0);
  }

  100% {
    opacity: 0;
    transform: translateY(calc(var(--tile) * -1));
  }
}

@keyframes tile-out-t2b {
  0% {
    transform: translate(0);
  }

  100% {
    opacity: 0;
    transform: translateY(var(--tile));
  }
}

@keyframes shrink-x {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(0, 1);
  }
}

@keyframes shrink-y {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 0);
  }
}

@keyframes grow-x {
  0% {
    transform: scale(0, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes grow-y {
  0% {
    transform: scale(1, 0);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes card-thumb {
  50% {
    filter: brightness(3);
  }

  100% {
    opacity: 0;
    filter: brightness(3);
  }
}

@keyframes to-white {
  100% {
    color: var(--white);
    text-shadow: 0 1px 1px rgb(0 0 0 / 34%);
  }
}

@keyframes to-see-thru {
  100% {
    opacity: 0.34;
  }
}

@keyframes to-opaque {
  0% {
    opacity: 0.34;
  }

  100% {
    opacity: 1;
  }
}

@keyframes curtain {
  100% {
    transform: scale(50);
  }
}

@keyframes curtain-header {
  100% {
    box-shadow: 0 1px var(--border-color);
  }
}

@keyframes curtain-nav {
  100% {
    color: var(--font-color);
  }
}

@keyframes curtain-rev {
  0% {
    transform: scale(50);
  }
}

@keyframes curtain-header-rev {
  0% {
    box-shadow: 0 1px var(--border-color);
  }
}

@keyframes curtain-nav-rev {
  0% {
    color: var(--font-color);
  }
}

@keyframes twirl-in {
  0% {
    /* opacity: 0; */
    transform: rotateY(90deg);
  }
}

@keyframes twirl-out {
  100% {
    opacity: 0;
    transform: rotateY(90deg);
  }
}

@keyframes twirl-in-rev {
  0% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
}

@keyframes twirl-out-rev {
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
}

@keyframes photo-back {
  0% {
    top: 0;
    left: 0;
    transform: rotate3d(0, 1, 0, -90deg);

    /* transform: rotate3d(0, 0, 0, 0); */

    /* transform: rotate3d(0, 0, 0, 0); */
  }

  40% {
    top: 0;
    left: 0;
    transform: rotate3d(0, 0, 1, 2deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, -3deg);
  }
}

@keyframes photo-front {
  0% {
    transform: rotate3d(0, 1, 0, -90deg);
  }

  /* 80% {
    transform: rotate3d(0, 0, 0, 0);
  } */

  /* 100% {
    transform: rotate3d(0, 0, 1, 2deg);
  } */
}

@keyframes photo-grow-in {
  0% {
    transform: rotate3d(0, 0, 0, 0) scale(0);
  }

  /* 100% {
    transform: scale(1);
  } */
}

.cards.animate-out {
  --dur01: var(--run-slower);
  --dur02: var(--run-slower);
  --dur03: var(--run-slower);
  --dur04: var(--run-slower);
  --dur05: var(--run-slower);
  --dur06: var(--run-slower);
  --dur07: calc(var(--run) * 3);
  --dur08: calc(var(--run) * 3);

  --del01: 0ms;
  --del02: calc((var(--dur01) * 0.34) + var(--del01));
  --del03: calc((var(--dur02) * 0.21) + var(--del02));
  --del04: calc((var(--dur03) * 0.13) + var(--del03));
  --del05: calc((var(--dur04) * 0.08) + var(--del04));
  --del06: calc((var(--dur05) * 0.05) + var(--del05));
  --del07: calc((var(--dur06) * 0.21) + var(--del06));
  --del08: calc((var(--dur07) * 0.13) + var(--del07));

  .card:nth-child(1):not(.last) .card-thumb {
    animation: var(--dur01) var(--fadein) var(--del01) both to-see-thru;
  }

  .card:nth-child(2):not(.last) .card-thumb {
    animation: var(--dur02) var(--fadein) var(--del02) both to-see-thru;
  }

  .card:nth-child(3):not(.last) .card-thumb {
    animation: var(--dur03) var(--fadein) var(--del03) both to-see-thru;
  }

  .card:nth-child(4):not(.last) .card-thumb {
    animation: var(--dur04) var(--fadein) var(--del04) both to-see-thru;
  }

  .card:nth-child(5):not(.last) .card-thumb {
    animation: var(--dur05) var(--fadein) var(--del05) both to-see-thru;
  }

  .card:nth-child(6):not(.last) .card-thumb {
    animation: var(--dur06) var(--fadein) var(--del06) both to-see-thru;
  }

  .card:not(.last) .edge-n {
    animation: var(--dur07) var(--fadein) var(--del07) both shrink-x;
  }

  .card:not(.last) .edge-e {
    animation: var(--dur07) var(--fadein) var(--del07) both shrink-y;
  }

  .card:not(.last) .edge-s {
    animation: var(--dur08) var(--fadein) var(--del08) both shrink-x;
  }

  .card:not(.last) .edge-w {
    animation: var(--dur08) var(--fadein) var(--del08) both shrink-y;
  }
}

.cards.animate-in {
  --dur01: var(--run-slow);
  --dur02: var(--run-slow);
  --dur03: var(--run-slow);
  --dur04: var(--run-slow);
  --dur05: var(--run-slow);
  --dur06: var(--run-slow);
  --dur07: var(--run-slower);
  --dur08: var(--run-slower);

  --del01: 0ms;
  --del02: calc((var(--dur01) * 0.34) + var(--del01));
  --del03: calc((var(--dur02) * 0.21) + var(--del02));
  --del04: calc((var(--dur03) * 0.13) + var(--del03));
  --del05: calc((var(--dur04) * 0.08) + var(--del04));
  --del06: calc((var(--dur05) * 0.05) + var(--del05));
  --del07: calc((var(--dur06) * 0.21) + var(--del06));
  --del08: calc((var(--dur07) * 0.13) + var(--del07));

  .card:nth-child(1):not(.last) .card-thumb {
    animation: var(--dur01) var(--fadein) var(--del01) backwards to-opaque;
  }

  .card:nth-child(2):not(.last) .card-thumb {
    animation: var(--dur02) var(--fadein) var(--del02) backwards to-opaque;
  }

  .card:nth-child(3):not(.last) .card-thumb {
    animation: var(--dur03) var(--fadein) var(--del03) backwards to-opaque;
  }

  .card:nth-child(4):not(.last) .card-thumb {
    animation: var(--dur04) var(--fadein) var(--del04) backwards to-opaque;
  }

  .card:nth-child(5):not(.last) .card-thumb {
    animation: var(--dur05) var(--fadein) var(--del05) backwards to-opaque;
  }

  .card:nth-child(6):not(.last) .card-thumb {
    animation: var(--dur06) var(--fadein) var(--del06) backwards to-opaque;
  }

  .card:not(.last) .edge-n {
    animation: var(--dur07) var(--fadein) var(--del07) backwards grow-x;
  }

  .card:not(.last) .edge-e {
    animation: var(--dur07) var(--fadein) var(--del07) backwards grow-y;
  }

  .card:not(.last) .edge-s {
    animation: var(--dur08) var(--fadein) var(--del08) backwards grow-x;
  }

  .card:not(.last) .edge-w {
    animation: var(--dur08) var(--fadein) var(--del08) backwards grow-y;
  }
}

.card.active {
  --dur1: var(--run);
  --dur2: var(--run);
  --dur3: var(--run-slower);
  --dur4: var(--run-slow);
  --dur5: var(--run);
  --dur6: var(--run);
  --dur7: var(--run);
  --dur8: var(--run);
  --dur9: var(--run);

  --del1: 100ms;
  --del2: calc((var(--dur1) * 0.34) + var(--del1));
  --del3: calc((var(--dur2) * 0.34) + var(--del2));
  --del4: calc((var(--dur3) * 0.89) + var(--del3));
  --del5: calc((var(--dur4) * 0.08) + var(--del4));
  --del6: calc((var(--dur5) * 0.05) + var(--del5));
  --del7: calc((var(--dur6) * 0.03) + var(--del6));
  --del8: calc((var(--dur7) * 0.02) + var(--del7));
  --del9: calc((var(--dur8) * 0.01) + var(--del8));

  .card-title {
    animation: var(--dur1) var(--fadein) var(--del1) both tile-in-b2t;
  }

  .card-subtitle {
    animation: var(--dur2) var(--fadein) var(--del2) both tile-in-b2t;
  }

  .card-info {
    animation: var(--dur3) var(--fadein) var(--del3) both to-white;
  }

  .example-4 {
    animation: var(--dur4) var(--fadein) var(--del4) both to-white;
  }

  .example-5 {
    animation: slip-in-b2t var(--dur5) var(--fadein) var(--del5) backwards;
  }

  .example-6 {
    animation: slip-in-b2t var(--dur6) var(--fadein) var(--del6) backwards;
  }

  .example-7 {
    animation: slip-in-b2t var(--dur7) var(--fadein) var(--del7) backwards;
  }

  .example-8 {
    animation: slip-in-b2t var(--dur8) var(--fadein) var(--del8) backwards;
  }

  .example-9 {
    animation: slip-in-b2t var(--dur9) var(--fadein) var(--del9) backwards;
  }
}

.hero.active {
  --dur1: calc(var(--run) * 4);
  --dur2: var(--run-fast);
  --dur3: var(--run-fast);
  --dur4: var(--run-fast);
  --dur5: var(--run);
  --dur6: var(--run);
  --dur7: var(--run);
  --dur8: var(--run-faster);
  --dur9: var(--run-fast);

  --del1: 100ms;
  --del2: calc((var(--dur1) * 0) + var(--del1));
  --del3: calc((var(--dur2) * 0.55) + var(--del2));
  --del4: calc((var(--dur3) * 0.34) + var(--del3));
  --del5: calc((var(--dur4) * 0.89) + var(--del4));
  --del6: calc((var(--dur5) * 0.21) + var(--del5));
  --del7: calc((var(--dur6) * 0.13) + var(--del6));
  --del8: calc((var(--dur7) * 0.89) + var(--del7));
  --del9: calc((var(--dur8) * 0.13) + var(--del8));

  .curtain-block {
    animation: var(--dur1) var(--fadein) var(--del1) both curtain;
  }

  .hero-paragraph {
    animation: var(--dur2) var(--fadein) var(--del2) both tile-out-b2t;
  }

  .hero-name-last {
    animation: var(--dur3) var(--fadein) var(--del3) both tile-out-b2t;
  }

  .hero-name-first {
    animation: var(--dur4) var(--fadein) var(--del4) both tile-out-b2t;
  }

  .curtain .hero-name-first {
    animation: var(--dur5) var(--fadein) var(--del5) backwards tile-in-b2t;
  }

  .curtain .hero-name-last {
    animation: var(--dur6) var(--fadein) var(--del6) backwards tile-in-b2t;
  }

  .curtain .hero-paragraph {
    animation: var(--dur7) var(--fadein) var(--del7) backwards tile-in-b2t;
  }

  .header {
    animation: var(--dur8) var(--fadein) var(--del8) forwards curtain-header;
  }

  .nav-item {
    animation: var(--dur9) var(--fadein) var(--del9) forwards curtain-nav;
  }
}

.hero.inactive {
  --dur1: var(--run-slow);
  --dur2: var(--run-fast);
  --dur3: var(--run-faster);
  --dur4: var(--run-fast);
  --dur5: var(--run-fast);
  --dur6: var(--run-fast);
  --dur7: var(--run);
  --dur8: var(--run);
  --dur9: var(--run);

  --del1: 0ms;
  --del2: calc((var(--dur1) * 0.34) + var(--del1));
  --del3: calc((var(--dur2) * 0.21) + var(--del2));
  --del4: calc((var(--dur3) * 0.13) + var(--del3));
  --del5: calc((var(--dur4) * 0.08) + var(--del4));
  --del6: calc((var(--dur5) * 0.05) + var(--del5));
  --del7: calc((var(--dur6) * 0.89) + var(--del6));
  --del8: calc((var(--dur7) * 0.55) + var(--del7));
  --del9: calc((var(--dur8) * 0.34) + var(--del8));

  .curtain-block {
    animation: var(--dur1) var(--fadein) var(--del1) both curtain-rev;
  }

  .nav-item {
    animation: var(--dur2) var(--fadein) var(--del2) both curtain-nav-rev;
  }

  .header {
    animation: var(--dur3) var(--fadein) var(--del3) both curtain-header-rev;
  }

  .curtain .hero-paragraph {
    animation: var(--dur4) var(--fadein) var(--del4) both tile-out-t2b;
  }

  .curtain .hero-name-last {
    animation: var(--dur5) var(--fadein) var(--del5) both tile-out-t2b;
  }

  .curtain .hero-name-first {
    animation: var(--dur6) var(--fadein) var(--del6) both tile-out-t2b;
  }

  .hero-paragraph {
    animation: var(--dur7) var(--fadein) var(--del7) both tile-in-t2b;
  }

  .hero-name-last {
    animation: var(--dur8) var(--fadein) var(--del8) both tile-in-t2b;
  }

  .hero-name-first {
    animation: var(--dur9) var(--fadein) var(--del9) both tile-in-t2b;
  }
}

.hero.untouched {
  --dur1: var(--run);
  --dur2: var(--run);
  --dur3: var(--run);
  --dur4: var(--run);

  --del1: 0ms;
  --del2: calc((var(--dur1) * 0.34) + var(--del1));
  --del3: calc((var(--dur2) * 0.21) + var(--del2));
  --del4: calc((var(--dur3) * 0.13) + var(--del3));

  .hero-name-first {
    animation: var(--dur1) var(--fadein) var(--del1) backwards tile-in-b2t;
  }

  .hero-name-last {
    animation: var(--dur2) var(--fadein) var(--del2) backwards tile-in-b2t;
  }

  .hero-paragraph {
    animation: var(--dur3) var(--fadein) var(--del3) backwards tile-in-b2t;
  }

  .hero-action {
    animation: var(--dur4) var(--fadein) var(--del4) backwards tile-in-b2t;
  }
}

.hero.intro {
  --dur01: var(--run);
  --dur02: var(--run);
  --dur03: var(--run);
  --dur04: var(--run);
  --dur05: var(--run);
  --dur06: var(--run);
  --dur07: var(--run);
  --dur08: var(--run);

  --del01: 0ms;
  --del02: calc((var(--dur01) * 0.34) + var(--del01));
  --del03: calc((var(--dur02) * 0.21) + var(--del02));
  --del04: calc((var(--dur03) * 0.13) + var(--del03));
  --del05: calc((var(--dur04) * 0.08) + var(--del04));
  --del06: calc((var(--dur05) * 0.05) + var(--del05));
  --del07: calc((var(--dur06) * 0.03) + var(--del06));
  --del08: calc((var(--dur07) * 0.02) + var(--del07));

  .breakdown-cell:nth-child(1) .breakdown-title {
    animation: var(--dur01) var(--fadein) var(--del01) backwards tile-in-b2t;
  }

  .breakdown-cell:nth-child(1) .breakdown-subtitle {
    animation: var(--dur02) var(--fadein) var(--del02) backwards tile-in-b2t;
  }

  .breakdown-cell:nth-child(2) .breakdown-title {
    animation: var(--dur03) var(--fadein) var(--del03) backwards tile-in-b2t;
  }

  .breakdown-cell:nth-child(2) .breakdown-subtitle {
    animation: var(--dur04) var(--fadein) var(--del04) backwards tile-in-b2t;
  }

  .breakdown-cell:nth-child(3) .breakdown-title {
    animation: var(--dur05) var(--fadein) var(--del05) backwards tile-in-b2t;
  }

  .breakdown-cell:nth-child(3) .breakdown-info {
    animation: var(--dur06) var(--fadein) var(--del06) backwards tile-in-b2t;
  }

  .breakdown-cell:nth-child(4) .breakdown-title {
    animation: var(--dur07) var(--fadein) var(--del07) backwards tile-in-b2t;
  }

  .breakdown-cell:nth-child(4) .breakdown-info {
    animation: var(--dur08) var(--fadein) var(--del08) backwards tile-in-b2t;
  }
}

.bio {
  --dur01: var(--run);
  --dur02: var(--run);
  --dur03: var(--run);
  --dur04: var(--run);
  --dur05: var(--run);
  --dur06: var(--run);
  --dur07: var(--run);

  --del01: 0ms;
  --del02: calc((var(--dur01) * 0.34) + var(--del01));
  --del03: calc((var(--dur02) * 0.21) + var(--del02));
  --del04: calc((var(--dur03) * 0.13) + var(--del03));
  --del05: calc((var(--dur04) * 0.08) + var(--del04));
  --del06: calc((var(--dur05) * 0.21) + var(--del05));
  --del07: calc((var(--dur06) * 0.13) + var(--del06));

  .bio-name {
    animation: var(--dur01) var(--fadein) var(--del01) backwards tile-in-b2t;
  }

  .bio-paragraph:nth-of-type(1) {
    animation: var(--dur02) var(--fadein) var(--del02) backwards tile-in-b2t;
  }

  .bio-paragraph:nth-of-type(2) {
    animation: var(--dur03) var(--fadein) var(--del03) backwards tile-in-b2t;
  }

  .bio-paragraph:nth-of-type(3) {
    animation: var(--dur04) var(--fadein) var(--del04) backwards tile-in-b2t;
  }

  .bio-action {
    animation: var(--dur05) var(--fadein) var(--del05) backwards tile-in-b2t;
  }

  .photo:nth-child(2) {
    animation: var(--dur06) var(--fadein) var(--del06) backwards twirl-in;
  }

  .photo:nth-child(1) {
    animation: var(--dur07) var(--fadein) var(--del07) backwards photo-grow-in;
  }
}
