:root {
  --cols: 2;
  --gap: var(--margin);
  --item-w: 560px;

  /* --item-h: 380px; */
  --item-h: calc(var(--item-w) * 0.75);
  --content-width: calc((var(--item-w) * var(--cols)) + var(--gap));
}

.app {
  /*  */
}

.content {
  width: calc(var(--xxl) * 1.5);
  width: 1144px;
  width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

.button {
  color: var(--gray-900);
  min-width: calc(var(--xl) * 0.75);
  padding: var(--padding) var(--tile);
  background-color: var(--white);
  border: var(--border);
  border-radius: var(--border-radius);
  transition: var(--run) var(--fadein);

  &:hover {
    color: var(--white);
    background-color: var(--gray-900);

    /* border-color: var(--gray-900); */
    transition-duration: var(--run-fast);
  }
}

.link {
  text-decoration: underline;
}

.header {
  display: flex;
  align-items: center;
  height: var(--tile);
  border-bottom: var(--border);
}

.footer {
  display: flex;
  align-items: center;
  height: var(--tile);
  border-top: var(--border);
}

.main {
  display: flex;
  flex-direction: column;
}

.hero {
  color: var(--gray-100);
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--gray-900);
  overflow: hidden;

  &.active {
    /*  */
  }

  &.black {
    background-color: var(--black);
  }

  .header {
    position: relative;
    border-bottom-color: var(--gray-800);
  }

  .footer {
    position: relative;
    border-top-color: var(--gray-800);
  }
}

.hero-content {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.hero-name {
  font-family: 'Roboto Condensed'; /* TODO: add this font */
  font-size: var(--xl);
  font-weight: 600;
  line-height: 0.9;
  text-transform: uppercase;
  position: relative;
  left: calc(var(--xs) * -0.75);

  /* max-width: calc(var(--xl) * 3); */
  margin-left: calc(var(--xxs) * -1);

  &::first-letter {
    letter-spacing: -0.05em;
  }
}

.hero-name-first {
  /*  */
}

.hero-name-last {
  /*  */
}

.hero-paragraph {
  font-family: 'Roboto Slab'; /* TODO: add this font */
  font-family: Bitter; /* TODO: add this font */
  font-size: calc(var(--xs) * 1.5);
  max-width: var(--xxl);
}

.hero-action {
  font-size: calc(var(--xs) * 1.5);
  margin-top: var(--margin);
}

.gallery {
  /* margin-top: var(--tile); */
  margin-bottom: var(--xl);
  padding-top: var(--tile);
}

.gallery-content {
  min-height: 100vh;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--margin);
}

.card {
  position: relative;
  height: 380px;
  height: var(--item-h);
  border: var(--border);
  border-radius: var(--border-radius);
  transition: box-shadow var(--run-slower) var(--fadein);
  overflow: hidden;

  &.active {
    /* border-color: transparent; */
    border: none;
    box-shadow: 0 21px 34px 0 rgb(0 0 0 / 21%);
    transition-duration: var(--run-fast);

    .card-thumb {
      animation: 750ms var(--fadein) 250ms both fade-out;
    }
  }

  &.netlify {
    background-image: linear-gradient(-45deg, #149cab, #5cebdf);
  }

  &.paygarden {
    background-image: linear-gradient(-90deg, #249a4e, #2cbb5f);
    background-image: linear-gradient(
      30deg,
      rgb(36 154 78 / 100%) 0%,
      rgb(36 154 78 / 100%) 13%,
      rgb(44 187 95 / 100%) 100%
    );
  }
}

/* .card-inner {
  position: relative;
  height: 100%;
  overflow: hidden;
} */

.card-background {
  /* position: absolute;
  top: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
  width: calc(100% + (var(--border-width) * 2));
  height: calc(100% + (var(--border-width) * 2)); */

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: 750ms var(--fadein) 250ms both fade-in;

  /* display: none; */

  &.netlify {
    background-image: linear-gradient(-45deg, #149cab, #5cebdf);
  }
}

.card-thumb {
  /* position: absolute; */

  /* top: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
  width: calc(100% + (var(--border-width) * 2));
  height: calc(100% + (var(--border-width) * 2)); */

  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%; */

  position: absolute;
  top: 0;
  left: 0;
}

.card-mock {
  position: absolute;
  top: 0;
  left: 0;
}

.card-info {
  color: var(--gray-500);
  position: absolute;
  bottom: 0;
  left: 0;
  margin: var(--margin);
}

.card-title {
  font-size: calc(var(--xs) * 1.5);
}

.card-subtitle {
  font-size: var(--font-tiny);
}

.card-anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .card-edge,
.card-edge-top,
.card-edge-bottom,
.card-edge-left,
.card-edge-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.card-edge-top {
  border-top: var(--border);
  transform-origin: top right;
}

.card-edge-bottom {
  border-bottom: var(--border);
  transform-origin: bottom left;
}

.card-edge-left {
  border-left: var(--border);
  transform-origin: top left;
}

.card-edge-right {
  border-right: var(--border);
  transform-origin: bottom right;
} */

.hero-case {
  /* h1 {
    margin-bottom: var(--tile);
  } */
}

.hero-case-row {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--margin); */
  display: flex;

  /* min-height: 20vh; */
  &:not(:last-child) {
    margin-bottom: var(--tile);
  }
}

.hero-case-cell {
  max-width: calc(100% / 3);
  margin-right: var(--margin);
}

.hero-case-title {
  color: var(--gray-500);
  font-size: var(--font-tiny);
  text-transform: uppercase;
  margin-bottom: var(--margin);
}

.hero-case-subtitle {
  font-size: calc(var(--xs) * 1.5);
  font-weight: 600;
  text-transform: uppercase;

  .hero-case-info {
    /*  */
  }
}

.curtain {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: var(--tile);
  left: 0;
  width: 100%;
  height: calc(100% - var(--tile));

  .hero-name-first,
  .hero-name-last,
  .hero-paragraph {
    color: var(--font-color);
    position: relative;
    z-index: var(--z-index-up);
  }
}

.curtain-block {
  color: transparent;
  display: inline-block;
  min-width: calc(var(--xl) * 0.75);
  padding: var(--padding) var(--tile);
  background-color: var(--white);
  border: var(--border);
  border-radius: var(--border-radius);

  /* animation: 1000ms var(--fadein) 0ms backwards curtain; */
}

.article {
  /* max-width: calc(var(--xl) * 3);
  margin-left: auto;
  margin-right: auto; */
  margin-bottom: var(--tile);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    max-width: calc(var(--xl) * 3);
    margin-left: auto;
    margin-right: auto;

    &.space {
      margin-bottom: var(--xl);
    }
  }

  h1 {
    font-family: Bitter; /* TODO: add this font */
  }
}

.section {
  position: relative;
  margin-top: var(--xl);
}

.section-title {
  /*  */
}

.section-subtitle {
  display: flex;
  align-items: center;

  /* margin-bottom: var(--margin); */
  position: absolute;
  bottom: var(--margin);
  left: 0;

  h5 {
    color: var(--gray-400);
    font-size: var(--font-tiny);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
  }
}

.section-dash {
  width: calc(var(--tile) / 2);
  height: var(--border-width);
  margin-right: var(--margin);
  border-bottom: var(--border);
}

.media {
  margin-top: var(--margin);
  margin-bottom: calc(var(--xl) / 2);

  &.two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--margin);
  }

  img {
    border: var(--border);
    border-radius: var(--border-radius);
  }
}

.hero-stats {
  h1 {
    margin-bottom: var(--tile);
  }
}

.hero-stats-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--margin);

  /* min-height: 20vh; */
  &:not(:last-child) {
    margin-bottom: var(--tile);
  }
}

.hero-stats-cell {
  /* max-width: calc(100% / 3); */
  margin-right: var(--margin);
}

.hero-stats-title {
  color: var(--gray-500);
  font-size: var(--font-tiny);
  text-transform: uppercase;
  margin-bottom: var(--margin);
}

.hero-stats-subtitle {
  font-size: calc(var(--xs) * 1.5);
  font-weight: 600;
  text-transform: uppercase;

  .hero-stats-info {
    /*  */
  }
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
  }

  video {
    max-width: 100%;
    object-fit: cover;
    object-position: top;
    opacity: 0.13;
  }
}

.hero-background-shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 34%);
  backdrop-filter: saturate(150%) blur(4px) grayscale(1);

  /* background-image: linear-gradient(rgb(0 0 0 / 0%) 80%, rgb(0 0 0 / 21%)); */

  /* background-color: rgb(0 0 0 / 55%); */

  /* background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 34%)); */

  /* background-image: radial-gradient(circle, rgb(0 0 0 / 0%), rgb(0 0 0 / 55%)); */

  /* background-image: radial-gradient(
    ellipse at center,
    rgb(0 0 0 / 50%) 0%,
    rgb(0 0 0 / 0%) 34%
  ); */
}

.quotes {
  display: flex;
  max-width: calc(var(--xl) * 3);
  margin-top: var(--tile);
  margin-left: auto;
  margin-right: auto;
}

.quote {
  position: relative;
  margin: var(--margin) var(--margin) var(--margin) 0;
  padding: var(--padding) var(--padding) calc(var(--tile) / 2) var(--padding);
  border: var(--border);
  border-radius: var(--xs);
}

.quote-head {
  --size: 3.5rem;

  position: absolute;
  top: calc(var(--padding) - var(--xxs));
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);

  img {
    border-radius: var(--size);
    border-top: var(--xxs) solid var(--background);
    border-bottom: var(--xxs) solid var(--background);
    border-left: var(--xxs) solid transparent;
    border-right: var(--xxs) solid transparent;
  }
}

.quote-body {
  /*  */
}

.quote-author {
  margin-top: var(--xxs);

  /* margin-bottom: var(--xs); */
  margin-left: var(--xs);
}

.quote-name {
  overflow: hidden;
}

.quote-role {
  color: var(--gray-500);

  /* font: var(--code); */
  font-size: var(--font-tiny);

  /* text-transform: uppercase; */
  overflow: hidden;
}

.quote-text {
  /* font: var(--code); */
  overflow: hidden;
}

.quote-foot {
  display: flex;
  position: absolute;
  bottom: calc((var(--padding) / 2) * -1);
  right: var(--padding);
  height: var(--padding);
  padding: 0 var(--xxs);
  background: var(--background);

  img {
    max-height: 100%;
  }
}
